.pane {
    background: #171717;
    padding-bottom: 100px;
}

.footerText {
    margin: 50px 0;
    letter-spacing: 2px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social {
    color: white;
    border-radius: 10px;
    margin: 0 20px;
    height: 40px;
    width: 40px;
    transition: .5s;

    display: flex;
    justify-content: center;
}

.social:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--bs-link-hover-color);
}

.icon {
    color: blacK;
}

.blog {
    width: 300px;
    text-decoration: none;
    text-transform: uppercase;
    height: fit-content;
}