.footer {
    background-color: #171717;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footer p a {
    text-decoration: none;
    transition: .5s;
    color: rgb(235, 255, 226);
}

.footer p a:hover {
    color: rgb(168, 255, 128);
}