.pane {
    background: #f4ca6e;
    padding-bottom: 30px;
}

.pb {
    width: 75%;
    height: 75%;
    transition: .25s;
}

.pb:hover {
    transform: scale(1.1, 1.1);
}

.pbRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}