.header {
  margin-right: 150px;
}

.header ul li {
  margin: 0 10px;
}

.headerAnchor {
  width: fit-content;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff !important;
  border-radius: 20px;
  transition: .25s;
  font-size: 1.5em;
}

.headerAnchor:hover,
.header ul li .active {
    color: var(--accent);
}

.logo {
    padding: 30px 30px;

    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
}

.logo:hover {
  color: #fff;
  transform: scale(1.2);
}