.pane {
    position: relative;
    width: 100%;
}

.curve {
    position: absolute;
    height: 255px;
    width: 100%;
    bottom: 0;
    overflow: hidden;

}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 250% 70%;
    width: 55%;
    height: 100%;
    background: var(--data-firstCl);
    transform: translate(85%, 80%) scale(2, 1);
    z-index: -1;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 60% 500%;
    width: 55%;
    height: 100%;
    background: var(--data-secondCl);
    transform: translate(-4%, 80%) scale(2, 1);
    z-index: -1;
}

.wave {
    width: 100%;
    height: 650px;
}

.wave1 {
    background: url("../../public/img/utils/wave1.svg") no-repeat;
    background-size: cover;
}