.pane {
    
    padding: 50px 0;
}

.scale {
    background: transparent url("http://localhost:3000/img/pond.svg") no-repeat;
    transform: scale(0.75);
}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}