.pane {
    background: #f4ca6e;
}

.title {
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.title::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #e35b59, #e5a055);
    height: 4px;
    width: 60px;
    
    bottom: -5px;
    margin-left: -30px;
    left: 50%;
    z-index: 10000;

}

.pb {
    width: 75%;
    height: 75%;
    transition: .25s;
}

.pb:hover {
    transform: scale(1.1, 1.1);
}

.pbRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}