.pane {
    padding: 50px 0;
    background: #c19b48;
}

.wrapperBox {
    padding: 20px;
    background: rgba(0,0,0,.1);
    border-radius: 25px;
    margin: 0 20px;
}

.wrap {
    text-align: center;
    position: relative;
    transition: .5s;
    padding: 0 100px;
}

.links {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrap::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 11%;
    border-top: 4px solid rgb(199, 199, 199);
    background: transparent;
    width: 78%;
    transform: translateY(-50%);
}

.dot {
    width: 3em;
    height: 3em;
    color: white;
    background-color: orange;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: .5s;
    display: flex;
}

.dot:hover {
    border: 4px solid rgb(195, 137, 30);
}

.contentBox {
    opacity: 0;
    position: absolute;
    
    
    padding: 5px;
    text-align: center;
    color: black;
    background-color: white;
    transition: .5s;
    
    left: 0;
    width: 400px;
    max-width: 80%;
    border-radius: 10px;
    transform: translate(-45%, -100px);
    z-index: 10000;
}

.icon {
    transform: scale(1.5) translate(0, 5px);
}

@media screen and (max-width: 905px) {
    .wrap {
        padding: 0 0;
    }

    .wrap::before {
        left: 0;
        width: 98%;
    }
}