.timelineBox {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.timelinePoint {
    position: relative;
    height: 2em;
    width: 2em;
    border-radius: 10px;
    background: white;
    
}

.timelineBox::before {
    content: no-close-quote;
    position: absolute;
    left: 50%;
    background: black;
    width: 92%;
    margin-left: -46%;
    height: 4px;
}