@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oxygen&family=Poppins:wght@700&family=Roboto&family=Ubuntu&display=swap');

.logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logoImg {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-top: 40px;
    left: 50%;
    margin-left: -25%;
    z-index: 10000;
}


.btn {
    transform: translateY(100px);
    background: white;
    padding: 8px 30px;
    color: #e35b59;
    border-radius: 25px;
    font-size: 1.25em;
    text-decoration: none;
    color: black;
    z-index: 1000;
}

.sec {
    position: relative;
    padding: 100px;   
    background: #f4ca6e;
}

.sec h2 {
    font-size: 2.5em;
    margin-bottom: 10px; 
    color: black;
}

.sec p {
    font-size: 1.2em;
    color: black;
}